/* oxocarbon colors, from the nvim theme */

:root {
    --deep: #161616;
    --deeper: #131313;
    --black: #101010;
    --base: #262626;
    --base-alt: #191919;
    --surface: #393939;
    --overlay: #525252;
    --sub-4: #909090;
    --sub-3: #D0D0D0;
    --sub-2: #dde1e6;
    --sub-1: #f2f4f8;
    --text: #ffffff;

    --pink: #ff7eb6;
    --red: #ee5396;
    --orange: #ff6f00;
    --yellow: #ffab91;
    --green: #42be65;
    --cyan: #08bdba;
    --cyan-alt: #3ddbd9;
    --sky: #82cfff;
    --blue: #33b1ff;
    --peri: #78a9ff;
    --purple: #be95ff;

}