@import url('./colors.css');


body {
  font-family: 'DM Mono', monospace;  
  color: var(--text);
  background: linear-gradient(rgb(30,30,46), rgb(0,0,0));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
    --s: 52px; /* control the size*/
    --c1: #11111b;
    --c2: #1e1e2e;
    --c3: #181825;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
       calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
    background-size: var(--s) calc(var(--s)*tan(30deg));
}

.main {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

img {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--surface0);
  border-width: 5px;
  width: 300px;
  height: 300px;
  transition: border-color 0.1s ease;
}

img:hover {
  border-color: var(--lavender);
  
}

p {
  color: var(--text);
  font-size: 22px;
  max-width: 400px; 
}

.imglink {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 1px; 
}

#home {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #11111b;
  color: #ccd6f4;
  outline: none;
  font-family: 'DM Mono';
  font-size: 20px;
  text-align: center;
  margin-top: 20px;

  border-style: solid;
  border-color: var(--surface0);
  transition: border-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

#home:hover {
  border-color: var(--lavender);
  transform: scale(1.05);
  
}

#credit:link {
  color: var(--maroon);
  font-size: 15px;
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

a:link {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

a:visited {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}
a:active {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}