@import url('./colors.css');


html {
    --s: 52px; 
    --c1: #11111b;
    --c2: #1e1e2e;
    --c3: #181825;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
       calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
    background-size: var(--s) calc(var(--s)*tan(30deg));
}



body {
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  font-family: "DM Mono", monospace, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1.5fr 1fr;

  height: 90%;
  padding: 20px;
  gap: 1em;
  grid-template-areas: 
  "snepgif img p5 p6"
  "p2 img p3 p3"
  "p2 p4 p4 p4";
}

@media screen and (max-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
  
    height: 90%;
    padding: 20px;
    gap: 1em;
    grid-template-areas: 
    "snepgif p5 p6"
    "p2 img p3"
    "p2 p4 p4";
  }
}

/* tablets */
@media screen and (max-width: 858px) {
  .main {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto auto auto auto auto; 
    grid-template-areas: 
      "snepgif img"
      "p2 img"
      "p2 p3"
      "p4 p4"
      "p5 p6"; 
  }

  #snepgif {
    height: auto; 
  }
  #now-playing-text {font-size: 10px;}
}

/* phones */
@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto; 
    grid-template-areas: 
      "snepgif"
      "img"
      "p3"
      "p4"
      "p5"
      "p6"
      "p2";
  }

  #snepgif {height: auto;}
  .img {font-size: 1.2em;}
  #specs {font-size: 1.5em;}
  }



#now-playing-text {font-size: 22px;}

.p {
  border: solid 5px var(--surface0); 
  transition: border-color 0.1s ease;

  color: var(--text);
  border-radius: 8px;
}
.p:hover {border-color: var(--lavender);}
.img:hover {border-color: var(--lavender);}
img:hover {border-color: var(--lavender);}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: solid 5px var(--surface0);
  transition: border-color 0.1s ease;
  padding: 8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, var(--base), var(--crust));

  font-family: 'DM Mono', monospace;
  font-size: 25px;
  color: var(--text);
  text-align: center;
}

img {
  width: 99%;
  height: 99%;
}

/*stupid text messing up my grid*/
h2 {
  font-size: 20px;
}
#now-playing-text {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
#snepgif {
  width: 98%;
  height: 240px;
  border: solid 5px var(--surface0);
  border-radius: 10px;
  transition: border-color 0.1s ease;
}
#snep:hover {border-color: var(--lavender);}
#snepgif:hover {border-color: var(--lavender);}

#snep {
  width: 275px;
  height: 275px;
  border: solid 3px var(--surface0);
  border-radius: 10px;
  transition: border-color 0.1s ease;}

#p1 {background: linear-gradient(to bottom, var(--base), var(--mantle));display:flex;align-items: center;justify-content: center;}

/*#p2 {background: linear-gradient(to bottom, var(--mantle), black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}*/

#p4 {background: linear-gradient(to bottom, var(--crust), black);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

#p5 {
  background: linear-gradient(to bottom, var(--base), var(--mantle));
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}



#p6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  position: absolute;
  top: 0px;
  left: 10px;
  background: #11111b;
  color: #ccd6f4;
  outline: none;
  font-family: 'DM Mono';
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  border-style: solid;
  border-color: var(--surface0);
}

#home:hover {
  border-color: var(--lavender);
  transform: scale(1.05);
  transition: border-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

#credit:link {
  color: var(--maroon);
  font-size: 15px;
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

a:link {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

a:visited {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}
a:active {
  color: var(--lavender);
  text-decoration: none;
  font-family: 'DM Mono', monospace;
  text-align: center;
}

#p3 {
  background: linear-gradient(to bottom, var(--mantle), var(--crust));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

#specs {
  text-align: center;
  font-size: 31px;
}

.fa-debian {
  font-size: 140px;
}

#specsdesc {
  font-size: 20px;
}

#specsdesc li{
  line-height: 2.5;
}

#snepwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#iconbar {
  font-size: 65px;
  text-align: center;

}



.fa-discord {
  color: var(--sapphire);
}
.fa-youtube {
  color: var(--red);
}
.fa-bluesky {
  color:var(--sky);
}
.fa-tumblr {
  color:var(--teal);
}
.fa-steam {
  color:var(--mauve);
}
.fa-twitter {
  color:var(--text);
}
.fa-spotify {
  color:var(--green);
}
.fa-github {
  color:var(--peach);
}
.fa-lastfm {
  color:var(--maroon);
}

#roblox {
  width: 65px;
  height: 65px;
  color: var(--lavender);
  transform: translateY(7px);
}



#p2 {
  --s: 60px;
  
  --g1:conic-gradient(at 37.5% 87.5%,#0000 75%,var(--base) 0);
  --g2:conic-gradient(at 12.5% 62.5%,#0000 75%,var(--overlay1) 0);
  background:
    var(--g2) calc(  var(--s)/4) calc(  var(--s)/4),
    var(--g2) calc(5*var(--s)/4) calc(5*var(--s)/4),
    var(--g1),var(--g1) var(--s) var(--s) var(--crust);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  animation: g15 2s infinite linear;
}
@keyframes g15 {
  to {
    background-position: 
      calc(  var(--s)/4) calc( 9*var(--s)/4),
      calc(5*var(--s)/4) calc(-3*var(--s)/4),
      0 calc(2*var(--s)),
      var(--s) calc(-1*var(--s));
  }
}
