@import url('./colors.css');

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 80%;
}

.projectcolumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


.projectbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
    background-color: var(--crust);
    border-radius: 15px;

    overflow: hidden;
    max-width: 400px;
}
.projectbutton:hover {
    scale: 1.02;
}

.buttontitle {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text);
    padding: 0.5rem;
    font-weight: bold;
}

.buttondesc {
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
    color: var(--subtext1);
    padding: 0.4rem;
}

img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    object-fit: cover;
}

/*home - wrapper for each button*/
.bwrapper {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 10px var(--crust);;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    transition: background-color 0.2s ease;
    width: 20vw;

    background-color: var(--mantle);
    color: var(--text);
    border: solid 2px var(--surface0);
    font-family: 'JetBrains Mono', monospace;
}
.bwrapper:hover {
    background-color: var(--surface);
}

#buttons {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1170px) {
    .projectbutton {
        width: 90%;
        max-width: 400px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .buttontitle {
        font-size: 1rem;
    }
    .buttondesc {
        font-size: 0.7rem;
    }
    .bwrapper {
        width: 80vw;
    }
    #buttons {
        flex-direction: column;
        align-items: center;
    }
}