@import url('./colors.css');



/*home - main*/
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    width: 100%;
}

/*home - about me paragraph*/
#welcome {
    text-align: center;
}

/*home - the picture of the snow leopard*/
#long {
    height: 250px;
    border-radius: 20px;
    border: solid 2px var(--surface0);
}

/*home - wrapper for all the buttons*/
#buttonwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*home - wrapper for each button*/
.bwrapper {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 10px var(--crust);;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    transition: background-color 0.2s ease;
    width: 20vw;

    background-color: var(--mantle);
    color: var(--text);
    border: solid 2px var(--surface0);
    font-family: 'JetBrains Mono', monospace;
}
.bwrapper:hover {
    background-color: var(--surface);
}





/*when the screen is zoomed in the button text gets smaller*/
@media (max-width: 1170px) {
    .profile h1 {
        font-size: 1em;
    }
}

