@import url('css/colors.css');

body {
    height: 100dvh;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8vh;
}

/*home - main*/
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    
    width: 100%;
    
}

/*home - about me paragraph*/
#welcome {
    text-align: center;
}

/*home - the picture of the snow leopard*/
#long {
    height: 250px;
    border-radius: 20px;
    border: solid 2px var(--surface0);
}

/*home - wrapper for all the buttons*/
#buttonwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}






/*when the screen is zoomed in the button text gets smaller*/
@media (max-width: 1170px) {
    .profile h1 {
        font-size: 1em;
    }

}

@media (max-width: 768px) {
    body {
        height: 100dvh;
        margin: 0;
        padding: 0;
    }
    main {
        width: 100%;
        border: transparent;
    }
    .profile img {
        width: 60px;
        height: 60px;
    }
    .profile h1 {
       display: none; 
    }

}
